@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Planewalker";
    src: local("Planewalker"), url('./fonts/Planewalker/Planewalker.otf') format("opentype");
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #374151;
    }

    .scrollbar::-webkit-scrollbar-thumb {
    background: #eab308;
    border-radius: 100vh;
    border: 3px solid #374151;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #eab308;
    }
}
