.leaflet-tooltip {
    background-color: transparent ;
    border: none;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    color: transparent;
    box-shadow: none;
    padding: none;
    background-size: ;
}

.leaflet-container {
    background-color: rgb(54, 54, 54);
    border-color: gold;
    border-width: .1rem;
}

@media only screen and (min-width: 600px) {
    .leaflet-container {
    background-color: rgba(0, 0, 0, 0.25);
    }
  }

.leaflet-bar a {
    background-color: rgb(234 179 8);
    color: white;
}


.leaflet-bar a:hover, .leaflet-bar a:focus {
    background-color: rgb(240, 182, 37);
}

.leaflet-bar a.leaflet-disabled {
    background-color: rgb(199, 172, 103);

}

#customControl {
    margin: 0.75rem auto;
    width: 90%;
    float: none;
    
}

.text-stroke {
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-color: 1px;
    text-shadow: 1px 1px rgba(245, 245, 245, 0.5);
}
.text-stroke-black {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-color: 1px;
    text-shadow: 1px 1px rgba(235, 235, 235, 0.5);
}
.text-stroke-points {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-color: 1px;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.expansions {
    filter:grayscale(100%);
}

.expansions:hover {
    filter:grayscale(0%);
}

html {
    overflow: hidden;
}


@keyframes inAnimation {
0% {
    opacity: 0;
    scale: 2;
    visibility: hidden;
}
100% {
    opacity: 1;
    scale: 1;
    visibility: visible;
}
}

@keyframes outAnimation {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
    visibility: hidden;
}
}

.scale-down-center {
	animation: scale-down-center 0.2s cubic-bezier(0.950, 0.050, 0.795, 0.035) backwards;
}

#perfect-score {
    animation: scale-down-center-perfect 0.2s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
    animation-delay: 4.25s;
}

#result-1 {
    animation-delay: .35s;
}
#result-2 {
    animation-delay: .7s;
}
#result-3 {
    animation-delay: 1.05s;
}
#result-4 {
    animation-delay: 1.4s;
}
#result-5 {
    animation-delay: 1.75s;
}

/*
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
@keyframes scale-down-center {
        0% {
            transform: scale(1.5);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
@keyframes scale-down-center-perfect {
        0% {
            transform:  scale(2);
            opacity: 0;
        }
        100% {
            --tw-rotate: 12deg;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scale(1);
            opacity: 1;
        }
    }